.container {
  width: 1300px;
  margin: 0 auto;
  padding: 50px 25px;
  font-size: 16px;
}
.buttonArea {
  width: fit-content;
  margin-bottom: 70px;
}
.backButton {
  background: hsl(0, 0%, 100%);
  font-weight: 300;
  text-align: left;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.infoWrapper {
  width: 100%;
  height: 300px;
  /* background: red; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.flagWrapper {
  width: 500px;
  height: 100%;
  border: 1px solid red;
}
.country {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 15px;
}
.info {
  display: flex;
  /* flex: 1; */
  width: 610px;
  /* padding-left: 150px; */
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}
.devideInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.type {
  /* display: inline; */
  margin-right: 5px;
  display: inline-block;
  line-height: 2;
  white-space: nowrap;
}

.value {
  display: inline-block;
  font-weight: 300;
}
.borderCountry {
  display: flex;
}
.borderCountryValue {
  background: hsl(0, 0%, 100%);
  font-weight: 300;
  text-align: left;
  width: fit-content;
  padding: 2px 20px;
  font-size: 14px;
  border-radius: 5px;
  /* margin-bottom: 5px; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
.borderCountryList {
  display: flex;
  gap: 5px;
}
.darkProps {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .infoWrapper {
    flex-direction: column;
    height: auto;
    width: 500px;
    margin: 0 auto;
  }
  .flagWrapper {
    height: 300px;
  }
  .info {
    width: 100%;
    margin: 40px 0 0 0;
  }
}

@media only screen and (max-width: 540px) {
  .devideInfo {
    flex-direction: column;
    gap: 40px;
  }
  .infoWrapper {
    width: 100%;
  }
  .flagWrapper {
    width: 100%;
  }
  .borderCountry {
    flex-direction: column;
    gap: 20px;
  }
}
